/* form */
.form {
  width: 400px;
  height: max-content;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--four);
  gap: 15px;
}

/* heading 1 */
.h1 {
  font-size: 22px;
  color: var(--one);
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* heading svg */
.h1 svg {
  font-size: 23px;
}

/* heading 2 */
.h2 {
  font-size: 18px;
  color: var(--one);
  margin-bottom: 10px;
}

/* error...... */
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  background-color: red;
  opacity: 0.9;
  color: var(--light);
  padding: 10px;
  border-radius: 100px;
}

/* input styles............ */
/* defualt input */
.input {
  width: 100%;
  border-radius: 100px;
  padding: 10px 20px;
  border: none;
  color: var(--two);
  font-size: 14px;
  background-color: white;
}

.input::placeholder {
  color: var(--two);
}

.input:focus {
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--two);
}

/* search input */
.input.search {
  border-bottom: 1px solid lightgray;
  border-radius: 0px;
  padding: 5px 0px;
}

.input.search:focus {
  outline: none;
  border-bottom: 2px solid var(--one);
}

/* button............ */
/* default */
.button {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: var(--one);
  color: var(--light);
  border-radius: 100px;
  font-size: 16px;
  font-weight: bold;
  opacity: 0.8;
  cursor: pointer;
}

.button svg {
  fill: var(--four);
  width: 16px;
  height: 16px;
}

.button:hover {
  opacity: 1;
}

/* card button */
.button.card {
  width: max-content;
  padding: 5px 10px;
  font-size: 13px;
}

.button.card svg {
  width: 13px;
  height: 13px;
}

/* paragraph */
.paragraph {
  position: relative;
  width: 100%;
  justify-content: flex-start;
  color: var(--two);
  font-size: 14px;
}

/* paragraph with short */
.paragraph.short {
  top: -10px;
  display: flex;
  gap: 5px;
  width: 100%;
  justify-content: center;
  color: var(--two);
  font-size: 14px;
}

.paragraph a {
  font-size: 14px;
  color: var(--one);
  opacity: 0.9;
  font-weight: bold;
}

/* media query */
@media only screen and (max-width: 400px) {
  .form {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .input.search {
    width: 100%;
  }
}
