.tools {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  align-items: flex-start;
}

.tools > svg {
  position: absolute;
  top: 0;
  right: 20px;
  width: 18px;
  height: 18px;
  fill: var(--one);
  display: none;
  z-index: 5000;
}

/* content part */
.tools .content {
  padding-left: 10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
}

.tools .content > .pageHeader {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
}

.tools .content .pageHeader .title {
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  color: var(--one);
}

.tools .content .pageHeader .title svg {
  width: 22px;
  height: 22px;
  fill: var(--one);
}

.tools .content .main {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0px;
}

.card {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--four);
}

.card > svg {
  width: 30px;
  height: 30px;
  fill: var(--one);
}

.card .text {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.card .text h2 {
  color: var(--one);
  font-size: 20px;
}

.card .text p {
  color: var(--one);
  opacity: 0.7;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
}

.card .buttons {
  width: 100%;
  justify-content: space-between;
  display: flex;
  gap: 10px;
}

.card .buttons > div {
  display: flex;
  gap: 5px;
}

/* sidebar */
.tools .sidebar {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 10px;
}

.tools .sidebar .list {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.tools .sidebar .list .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tools .sidebar .list .top .left {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  color: var(--one);
  font-weight: bold;
}

.tools .sidebar .list .top .right svg {
  cursor: pointer;
}

.tools .sidebar .list .top svg {
  width: 16px;
  height: 16px;
  fill: var(--two);
}

.tools .sidebar .list .bottom {
  margin-left: 20px;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: var(--three);
  transform: scaleY(0);
  transform-origin: top;
  height: 0px;
}

.tools .sidebar .list .bottom.active {
  transform: scaleY(1);
  height: max-content;
  display: flex;
}

.tools .sidebar .list .bottom > div {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: var(--three);
  cursor: pointer;
}

.tools .sidebar .list .bottom svg {
  width: 14px;
  height: 14px;
  fill: var(--three);
}

@media only screen and (max-width: 1000px) {
  .tools {
    top: 50px;
  }

  .tools .content {
    display: none;
    border: none;
  }

  .tools .content > .pageHeader {
    position: relative;
    top: -50px;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
  }

  .tools .content.active {
    display: flex;
  }

  .tools .content {
    width: 100%;
    padding: 0px;
  }

  .tools .sidebar .list .top .left {
    color: white;
  }
  .tools .sidebar .list .top svg {
    fill: white;
  }

  .tools .sidebar .list .bottom {
    color: var(--four);
  }

  .tools .sidebar .list .bottom > div {
    color: var(--four);
  }
  .tools .sidebar .list .bottom svg {
    fill: var(--four);
  }

  .tools > svg {
    display: flex;
    top: -50px;
    right: 0;
  }

  .tools > svg.active {
    display: flex;
    right: 20px;
    top: -40px;
    fill: var(--four);
  }
}

@media only screen and (max-width: 1300px) {
  .tools .content .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 1000px) {
  .tools .content .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .tools .content .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .tools .content .main {
    grid-template-columns: 1fr;
  }
}
